body {
	height: 100%;
	font-family: sans-serif;
}

div.top-banner {
	background-color: #B8E6E6;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}

.small-octocat {
	position: absolute;
	top: 15%;
	left: 50px;
}

input {
	position: absolute;
	top: 20%;
	left: 8%;
	height: 20px;
	width: 300px;
	border-radius: 2px;
}

.next-search {
	position: absolute;
	margin-left: 250px;
	left: 10%;
	font-weight: bolder;
}

.next-search ul {
	list-style-type: none;
}

.next-search ul li {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

div.right-side {
  position: absolute;
  opacity: .7;
  right: 50px;
  background-color: blue;
  font-weight: bolder;
}

.right-side-links ul {
  list-style-type: none
}

.right-side-links ul li{
  display: inline-block;
  vertical-align: middle;
  	cursor: pointer;
}

.left-side-stuff {
	margin-left: 10px;
	width: 230px;

}
.me-large-pic {
	margin-top: 70px;
	border-radius: 5px;
	height: 200px;
}

.name {
	font-size: 30px;
	font-style: bold;
}

.user-name {
	font-size: 20px;
}

.line {
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}
.map-pin, 
.email-image,
.clock-image {
	height: 20px;
	width: 20px;
	opacity: .4;
}

.location {
	padding-top: 10px;
}

.map-pin,
.location {
	vertical-align: middle;
}

.email,
.email-image{
	vertical-align: middle;
}

.clock,
.clock-image {
	vertical-align: middle;
}

.social-info-num{
	font-weight: bolder;
	font-size: 30px;
}

.followers,
.starred,
.following {
	display: inline-block;
	vertical-align: middle;
}

.followers-num,
.starred-num,
.following-num {
	display: inline-block;
	vertical-align: middle;
}

.followers-num,
.followers {
	box-align: center;
}


.followers{background-color: blue;}
.starred{background-color:red;}
.following {background-color: gray;}















